<h3>Effectuer un virement</h3>

<div class="container">
  <form name="form" (ngSubmit)="onLoginSubmit()" [formGroup]="transfertForm">
    <div class="form-group row">
      <label class="col-sm-2">Compte à débiter :</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option *ngFor="let account of user.accounts" value="{{ account._id }}">
            {{ account._id }} - {{account.balance | number }} €
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Compte à créditer :</label>
      <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" value="Votre comtpe" (click)="onRadioClick(1)" [checked]="radio1">
              Votre compte :
            </label>


            <select class="form-control" [disabled]="radio2">
              <option>Sélectionner...</option>
              <option *ngFor="let account of user.accounts">
                {{ account._id }} - {{account.balance | number }} €
              </option>
            </select>
          </div>

        <div class="radio">
          <label>
            <input type="radio" value="Votre comtpe2" (click)="onRadioClick(2)" [checked]="radio2">
            Un autre utilisateur :
          </label>

          <select class="form-control" [disabled]="radio1">
            <option>Sélectionner...</option>
            <option *ngFor="let account of accounts">
              {{ account.accountId }} - {{account.user }}
            </option>
          </select>
        </div>

      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Se Connecter</button>
    </div>
  </form>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

</div>
